<html>

    <!-- The head tag contains header information about the HTML document. -->
  <head>
    <title>CO2</title>
  </head>


  <body>
  <img src="data:image/png;base64,{{ image }}" width="500">


<form action="CO2" method="POST">
    Time range start:
    <br>
    <input type="text" name="timeStart" value={{ start_data }}>
    <br>
     Time range end:
    <br>
    <input type="text" name="timeEnd" value={{ end_data }}>
    <br>

    Y-Axis min
    <br>
    <input type="text" name="yMin" value = {{ yMin }}>
    <br>
    Y-Axis max
    <br>
    <input type="text" name="yMax" value={{ yMax}}>
    <br>
    <input type="submit" value="Submit">
    <br>
</form>
<br>
<a href = "help">help</a>
<br>

</body>
</html>
