<html>

    <!-- The head tag contains header information about the HTML document. -->
  <head>
    <title>Temperature</title>
  </head>


  <body>
  <img src="data:image/png;base64,{{ image }}" width="500">


<form action="temperatur" method="POST">
    Month
    <br>
    <select name="month">
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May" selected>May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
        
    </select> 
    <br>
    Time range start:
    <br>
    <input type="text" name="timeStart" value ={{start_data }}>
    <br>
     Time range end:
    <br>
    <input type="text" name="timeEnd" value={{end_data }}>
    <br>

    Y-Axis min
    <br>
    <input type="text" name="yMin" value={{ yMin}}>
    <br>
    Y-Axis max
    <br>
    <input type="text" name="yMax" value={{yMax }}>
    <br>
    <input type="submit" value="Submit">
    <br>
</form>
<br>
        <a href = "help">help</a>
        <br>

</body>
</html>
