<html>

    <!-- The head tag contains header information about the HTML document. -->
  <head>
    <title>CO2 per country</title>
  </head>


  <body>
  <img src="data:image/png;base64,{{ image }}" width="500">


<form action="CO2_country" method="POST">
    co2 min:
    <br>
    <input type="text" name="min_co2" value={{ minCO2}}>
    <br>
    <!-- Corrected the label from "Time range to end" to "co2 max" -->
     co2 max:
    <br>
    <input type="text" name="max_co2" value={{ maxCO2}} >
    <br>


     <br>
    <input type="submit" value="Submit">
    <br>

</form>
<br>
        <a href = "help">help</a>
        <br>

</body>
</html>
