<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module temperature_C02_plotter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>temperature_C02_plotter</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:/home/fhtuft/inf3331/INF3331-fhtuft/assignment6/temperature_C02_plotter.py">/home/fhtuft/inf3331/INF3331-fhtuft/assignment6/temperature_C02_plotter.py</a></font></td></tr></table>
    <p></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Modules</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="numpy.html">numpy</a><br>
</td><td width="25%" valign=top><a href="pandas.html">pandas</a><br>
</td><td width="25%" valign=top><a href="matplotlib.pyplot.html">matplotlib.pyplot</a><br>
</td><td width="25%" valign=top></td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-plot_CO2"><strong>plot_CO2</strong></a>(start_time, end_time, y_min, y_max)</dt><dd><tt>Plots&nbsp;CO2<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;start_time:&nbsp;year&nbsp;to&nbsp;start&nbsp;ploting&nbsp;from<br>
&nbsp;&nbsp;&nbsp;&nbsp;end_time:&nbsp;year&nbsp;to&nbsp;end&nbsp;ploting&nbsp;from<br>
&nbsp;&nbsp;&nbsp;&nbsp;y_min:&nbsp;min&nbsp;value&nbsp;of&nbsp;co2&nbsp;to&nbsp;show<br>
&nbsp;&nbsp;&nbsp;&nbsp;y_max:&nbsp;max&nbsp;value&nbsp;of&nbsp;co2&nbsp;to&nbsp;show</tt></dd></dl>
 <dl><dt><a name="-plot_co2_country"><strong>plot_co2_country</strong></a>(min_co2, max_co2, year='2013')</dt><dd><tt>Plots&nbsp;co2&nbsp;per&nbsp;country<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;min_co2:&nbsp;min&nbsp;co2&nbsp;for&nbsp;country&nbsp;to&nbsp;be&nbsp;part&nbsp;of&nbsp;plot<br>
&nbsp;&nbsp;&nbsp;&nbsp;max_co2:&nbsp;max&nbsp;co2&nbsp;for&nbsp;counry&nbsp;to&nbsp;be&nbsp;part&nbsp;of&nbsp;plot<br>
&nbsp;&nbsp;&nbsp;&nbsp;year:&nbsp;year&nbsp;to&nbsp;plot&nbsp;for,&nbsp;default&nbsp;2013</tt></dd></dl>
 <dl><dt><a name="-plot_temperature"><strong>plot_temperature</strong></a>(month, start_time, end_time, y_min, y_max)</dt><dd><tt>Plots&nbsp;the&nbsp;temperatur<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;month:&nbsp;the&nbsp;month&nbsp;to&nbsp;plot&nbsp;temperature&nbsp;from<br>
&nbsp;&nbsp;&nbsp;&nbsp;start_time:&nbsp;year&nbsp;to&nbsp;start&nbsp;ploting<br>
&nbsp;&nbsp;&nbsp;&nbsp;end_time:&nbsp;year&nbsp;to&nbsp;end&nbsp;ploting<br>
&nbsp;&nbsp;&nbsp;&nbsp;y_min:&nbsp;minimum&nbsp;value&nbsp;for&nbsp;temperatur&nbsp;so&nbsp;show&nbsp;in&nbsp;plot<br>
&nbsp;&nbsp;&nbsp;&nbsp;y_max:&nbsp;maximum&nbsp;value&nbsp;for&nbsp;temperatur&nbsp;so&nbsp;show&nbsp;in&nbsp;plot</tt></dd></dl>
</td></tr></table>
</body></html>